.footer-div{
   
    margin: auto;
    background: darkslategrey;
   

}
#btn-top{
    z-index: 99;
    position: fixed;
    bottom: 10px;
    right: 30px;
    display: none;
    background: darkred;
    border: solid transparent;
    outline: none;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
#footer-links{
    text-decoration: none;
    color: white;
}
#footer-links:hover{
    text-decoration: underline;
}
#ui-div{
    list-style: none;
    
}
.footer-faqs{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
   
}
.footer-question{

    text-align: center;
    padding: 10px;
    font-weight: 700;
    font-size: 18px;
}
.footer-question:hover{
    text-decoration: underline;
}

@media (max-width:475px){
    .footer-div{
        background: black;
    }
    .footer-faqs{
        padding: 5px;
       
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .uii-div #footer-links{
        margin-right: 30px;
    }
    
}
